<section class="container">
  <div class = "row">
    <div class="col-md">
      {{title}}
    </div>
    <div class="col-md">
      {{reviewer.username}}
    </div>
  </div>
  <div class = "row">
    <div class="col-md">
      {{body}}
    </div>
  </div>
</section>