<section class="container">
  <div class = "row">
    <div class="col-md">
        <a href="/review-page/:{{id}}">{{name}}</a>
    </div>
    <div class="col-md">
        <p>{{num_of_posts}}</p>
    </div>
  </div>
  <div class = "row">
    <h2>{{body}}</h2>
  </div>
</section>