<section class="container">
  <div class = "row">
    <div class="col-md">
        <a href="/movie/{{id}}">{{title}}</a>
    </div>
    <div class="col-md">
        <p>{{overview}}</p>
        <p>{{release_date}}</p>
    </div>
  </div>
</section>