<!--Lists reviewers from database and provides a link to a list of their movie reviews. For future development.-->
<section class="container">
  <div class = "row">
    <div class="col-md">
        <a href="/reviewers/{{id}}">{{name}}</a>
    </div>
  </div>
</section>