<!--Lists reviews from database.-->
<br>
<section class="container">
  <div class = "row home-headlines">
    <div class="col-md bg-dark">
      <h6>{{title}}</h6>
    </div>
    <div class="col-md bg-dark">
      <h6>Reviewed by {{reviewer.username}}</h6>
      
    </div>
  </div>
  <div class = "row">
    <div class="col-md">
      {{body}}
    </div>
  </div>
</section>