<section class="flex-row justify-center">
    <h2>Create a Review</h2>
    <form class="form review-form">
        <div class="form-group">
            <label for="title-create">Movie Title</label>
            <input class="form-input" type="text" id="title-create"/>
        </div>
        <div class="form-group">
            <label for="review-create">Your review</label>
            <input class="form-input" type="text" id="review-create"/>
        </div>
        <div class="form-group">
            <label for="overview">Overview</label>
            <input class="form-input" type="text" id="overview"/>
        </div>
        <div class="form-group">
            <label for="release-date">Release Date</label>
            <input class="form-input" type="text" id="release-date"/>
        </div>
        <div class="form-group">
            <btn class="btn btn-primary" type="submit" id="post-btn">Submit</btn>
        </div>
    </form>
</section>