<section class="container col-8 mt-4">
    <h2>Create a Review</h2>
    <form class="form review-form" form_id="scratch-form">
        <div class="form-group m-3">
            <label for="title-create" style="font-weight: bold;">Movie Title</label>
            <textarea class="form-control half-width text-wrap" id="title-create" movie_id="{{movie.id}}" rows="1"></textarea>
        </div>
        <div class="form-group m-3">
            <label for="overview" style="font-weight: bold;">Overview</label>
            <textarea class="form-control half-width text-wrap" id="overview" poster_path="{{movie.poster_path}}" rows="1"></textarea>
        </div>
        <div class="form-group m-3">
            <label for="release-date" style="font-weight: bold;">Release Date</label>
            <textarea class="form-control half-width text-wrap" id="release-date" rows="1"></textarea>
        </div>
        <div class="form-group m-3">
            <label for="review-create" style="font-weight: bold;">Your review</label>
            <textarea class="form-control half-width text-wrap" id="review-create" rows="4" placeholder="Write your review here..."></textarea>
        </div>
        <div class="form-group m-2">
            <button class="btn btn-dark" type="submit" id="post-scratch-btn">Submit</button>
        </div>
    </form>
</section>

<script src="/js/reviews.js"></script>