<div class="logout-confirmation card mx-auto w-50 border-secondary mb-3 text-center">
  <div class="card-body">
    <h3 class="card-title">Successfully logged out</h3>
    <a class="btn btn-outline-dark" href="/" role="button">Return Home</a>
  </div>
</div>