body{
    background-color: beige;
}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

#nav-link{
    color: white !important;
}

.jumbotron{
    text-align:center !important;
}

a:link { 
    text-decoration: none; 
    color: black;
} 
a:visited { 
    text-decoration: none; 
    color: black;
} 
a:hover { 
    text-decoration: none; 
    color: black;
} 
a:active { 
    text-decoration: none; 
    color: black;
}

.search-section{
    text-align: center;
}

.logout-confirmation {
    margin-top: 50px;
    background-color: transparent;
}

img{
    max-width: 50%;
    max-height: 50%;
}